/* Variables */
:root {
  --bg_h: #1d2021;
  --bg_n: #282828;
  --bg_s: #32302f;
  --bg1:  #3c3836;
  --bg2:  #504945;
  --bg3:  #665c54;
  --bg4:  #7c6f64;

  --fg_n: #fbf1c7;
  --fg1:  #ebdbb2;
  --fg2:  #d5c4a1;
  --fg3:  #bdae93;
  --fg4:  #a89984;

  --red:    #fb4934;
  --green:  #b8bb26;
  --yellow: #fabd2f;
  --blue:   #83a598;
  --purple: #d3869b;
  --aqua:   #8ec07c;
  --gray:   #928374;
  --orange: #fe8019;

  --red-dim:    #cc2412;
  --green-dim:  #98971a;
  --yellow-dim: #d79921;
  --blue-dim:   #458588;
  --purple-dim: #b16286;
  --aqua-dim:   #689d6a;
  --gray-dim:   #a89984;
  --orange-dim: #d65d0e;

  --link-color: var(--aqua);
}
}

@font-face {
	font-family: "Hack"; 
	src: url("fonts/Hack/Hack-Regular.ttf") font-weight-normal; 
	src: url("fonts/Hack/Hack-Bold.ttf") font-weight-bold; 
	src: url("fonts/Hack/Hack-Italic.ttf") font-italic;  
	src: url("fonts/Hack/Hack-BoldItalic.ttf") font-weight-bold font-italic; 
}


a:link {
	color: var(--link-color); text-decoration: none;
	transition-property: color, background-color;
	transition-duration: 0.3s;
}
a:visited { color: var(--link-color) }
a:hover { color: var(--bg); background-color: var(--link-color); }

p { margin: 0 }
ul {
	list-style: none;
	display: inline;
}
li:before { content: "- " }

html, body { height: 100% }

body {
	--bg: var(--bg_n);
	--fg: var(--fg_n);
	font-family: Hack;
	font-size: 1.1em;
	color: var(--fg);

	padding: 0; margin: 0;
	background-color: var(--bg);
	background-size: 2em 2em;
	background-image:
		linear-gradient(to right, var(--bg2) 1px, transparent 1px),
		linear-gradient(to bottom, var(--bg2) 1px, transparent 1px);
	background-position: center;

	display: flex;
	justify-content: center;
	align-items: center;
}

#page {
	--bg: var(--bg_h);
	background-color: var(--bg);
	width: 26em; height: 26em;
	margin: 10px;
}

#bar {
	--bg: var(--bg_s);
	background-color: var(--bg);
	display: flex;
}

#barcontent {
	font-size: 1.68em;
	text-align: center;
	flex-grow: 1;
	font-weight: bold;
	align-self: center;
}

#box {
	aspect-ratio: 1 / 1;
	height: 2em;
	background: var(--bg2);
}

#content {
	padding: 1em;
}
