<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>HTMX</title>
		<link href="css/style.css" rel="stylesheet">
		<script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
	</head>
	<body>

		<button hx-get="/index.html"
			hx-trigger="click"
			hx-swap="innerHTML">
			Click Me!
		</button>

		<br>
		<br>

		<div id="content">
			<div id="pages">
				<div class="page"
					hx-get="/index.html"
					hx-trigger="mouseenter, mouseleave"
					hx-target="#pagecontent"
					hx-swap="innerHTML, delete">
					asdkjfsalkfdsalk
				</div>
			</div>
			<div id="pagecontent" style="background-color: red">
				asdfas
			</div>
		</div>
		


		<!--<div hx-post="/index.html" hx-trigger="mouseenter">-->
		<!--	[Here Mouse, Mouse!]-->
		<!--</div>-->

	</body>
</html>
